{% extends 'base.html.twig' %}

{% block title %}Rapport
{% endblock %}

{% block body %}
	<main>
		<h1>Rapport</h1>
		<ul>
			<li>Number of Wastes : {{report.wastes}}</li>
			<li>Number of unsorted astes: {{report.unsortedWastes}}</li>
			<li>Number of sorted wastes : {{report.sortedWastes}}</li>
			<li>The total of CO2 emitted while sorting the wastes : {{report.totalCO2emitted}}</li>
			<li>Date of this report: {{report.date|date("m/d/Y")}}</li>
		</ul>
	</main>
{% endblock %}
