{% extends 'base.html.twig' %}

{% block title %}Send a file
{% endblock %}

{% block body %}
	<main>
		<h1>Send a report</h1>
		{{form_start(form)}}
		{{form_widget(form)}}
		<button>Submit</button>
		{{form_end(form)}}
	</main>
{% endblock %}